In [8]:
import sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect("../pages/data/stockanalysis.db")

In [4]:
cursor = con.cursor()

In [5]:
# Get number of rows in tickers
db_info = {
    "nr_tickers": cursor.execute("SELECT COUNT(*) FROM tickers").fetchone()[0],
    "nr_rows_prices": cursor.execute("SELECT COUNT(*) FROM prices").fetchone()[0]
}

In [13]:
ticker = "EQNR.OL"
ticker_prices = pd.read_sql_query(f"SELECT * FROM prices WHERE ticker='{ticker}'", con, index_col="Date", parse_dates=["Date"])

In [21]:
ticker_prices.index.rename("Date", inplace=True)
ticker_prices

,Open,High,Low,Close,Adj Close,Volume
count,1224.000000,1224.000000,1224.000000,1224.000000,1224.000000,1.224000e+03
mean,205.730490,208.294453,203.312745,205.774011,193.563279,3.675718e+06
std,67.109569,68.415425,65.784680,66.966241,70.121943,1.788226e+06
min,97.360001,102.150002,95.199997,99.339996,93.071396,0.000000e+00
25%,165.000000,166.737503,163.437496,164.699997,151.017117,2.603941e+06
50%,184.989998,186.025002,182.924995,184.500000,169.435616,3.252012e+06
75%,219.462498,221.825001,217.399994,219.949997,198.514736,4.193024e+06
max,409.750000,410.950012,400.450012,406.149994,405.578979,1.859687e+07

In [27]:
ticker_prices.last("1D").index[0].strftime("%Y-%m-%d")

'2022-11-16'

In [28]:
ticker_prices.head()

,ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2018-01-02,EQNR.OL,178.949997,178.949997,176.300003,177.449997,149.846146,2538853
2018-01-03,EQNR.OL,178.699997,179.949997,177.850006,179.699997,151.746140,2306793
2018-01-04,EQNR.OL,181.300003,182.399994,181.300003,182.250000,153.899490,3138505
2018-01-05,EQNR.OL,182.250000,182.699997,181.250000,182.300003,153.941711,2909928
2018-01-08,EQNR.OL,182.000000,183.449997,181.199997,182.899994,154.448380,2350354