In [1]:
import sqlite3
import pandas as pd
import talib as ta

In [2]:

con = sqlite3.connect("../data/stockanalysis.db")

In [3]:

# df = pd.read_sql("prices", con, index_col="Date", parse_dates=["Date"])
df = pd.read_sql_query("SELECT * from prices", con, index_col="Date", parse_dates=["Date"])

In [4]:
dff = df[df["ticker"] == "EQNR.OL"].iloc[:,1:]

In [5]:
dff.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,178.949997,178.949997,176.300003,177.449997,149.972763,2538853
2018-01-03,178.699997,179.949997,177.850006,179.699997,151.874344,2306793
2018-01-04,181.300003,182.399994,181.300003,182.250000,154.029465,3138505
2018-01-05,182.250000,182.699997,181.250000,182.300003,154.071701,2909928
2018-01-08,182.000000,183.449997,181.199997,182.899994,154.578842,2350354

In [6]:
dff["RSI"] = ta.RSI(dff["Close"], 14)

In [7]:
dff.tail()

,Open,High,Low,Close,Adj Close,Volume,RSI
Date,,,,,,,
2022-11-08,391.149994,392.350006,379.250000,379.750000,379.536438,3101656,53.745010
2022-11-09,378.649994,381.200012,373.649994,374.850006,374.639191,2871781,50.117435
2022-11-10,366.899994,371.500000,357.750000,355.649994,355.449982,4314253,39.007388
2022-11-11,356.500000,358.750000,348.750000,350.799988,350.799988,4450260,36.788841
2022-11-14,349.750000,355.450012,348.950012,354.000000,354.000000,3710872,39.244138